<header class="header">
        <!-- FIRST CHILD IN HEADER FLEX BOX -->
        <img src="../assets/imgs/Logos/logo.png" alt="Trillo logo" class="logo">
        <!-- SECOND CHILD IN HEADER FLEX BOX -->
        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Search Hotels">
            <button class="search__button">
                <svg class="search__icon">
                    <use xlink:href="../assets/imgs/sprite.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>
        <!-- THIRD CHILD IN HEADER FLEX BOX -->
        <nav class="user-nav">
            <!-- 1st CHILD OF USER NAVIGATION -->
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="../assets/imgs/sprite.svg#icon-bookmark"></use>
                </svg>
                <span class="user-nav__notification">7</span>
            </div>
            <!-- 2nd CHILD OF USER NAVIGATION -->
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="../assets/imgs/sprite.svg#icon-chat"></use>
                </svg>
                <span class="user-nav__notification">13</span>
            </div>
            <!-- 3rd CHILD OF USER NAVIGATION AND HE IS DOUBLE THE TWO CHILDS-->
            <div class="user-nav__user">
                <img src="../assets/imgs/Profile.jpg" alt="Profile Photo" class="user-nav__user-photo">
                <span class="user-nav__user-name">Adham</span>
            </div>
        </nav>
    </header>
