<div class="register-section">
  <!-- CONTAINER CARD  -->
  <div class="register-card">
    <!-- FORM INSIDE THE CARD  -->
    <div class="register-form">
      <!-- isLoginMode is a flag to can switch between sign up and login mode -->
      <h2 class="heading">
        {{ isLoginMode ? 'Login' : 'Create account' }}
      </h2>
      <!-- There is Two forms one of them for login and one for sign up and control them by *ngIf  -->
      <form class="form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group" *ngIf="!isLoginMode">
            <input type="text"
                   class="form-input"
                   placeholder="User name"
                   id="name"
                   ngModel
                   name="username"
                   required>
            <label for="name" class="form-label">User Name</label>
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-input"
                   placeholder="Email address"
                   id="email"
                   ngModel
                   name="email"
                   required
                   email>
            <label for="email" class="form-label">Email Address</label>
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-input"
                 placeholder="Password"
                 id="password"
                 ngModel
                 name="password"
                 required
                 minlength="6">
          <label for="password" class="form-label">Password</label>
        </div>
        <div class="form-group" *ngIf="!isLoginMode">
          <input type="password"
                 class="form-input"
                 placeholder="Confirm Password"
                 id="rePassword"
                 ngModel
                 name="repassword"
                 required
                 minlength="6">
          <label for="password" class="form-label">Confirm Password</label>
        </div>
        <button class="btn-primary"
                type="submit"
                [disabled]="!authForm.valid">
                {{ isLoginMode ? 'Login' : 'Sign up' }}
                </button>
        <p class="paragraph">
          {{ !isLoginMode ? 'Already have an account?' : 'Don\'t have an account?' }}
          <a
          routerLink="../Sign-in"
          (click)="onSwitchMode()">
          {{ !isLoginMode ? 'Login' : 'Sign up' }}
          </a>
        </p>
      </form>

    </div>
  </div>
</div>
