<!-- FIRST CHILD OF SIDEBAR NAVIGATION  -->
<ul class="side-nav">
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/Hotels" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="../assets/imgs/sprite.svg#icon-home"></use>
            </svg>
            <span>Hotel</span>
        </a>
    </li>

    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/Rent" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="../assets/imgs/sprite.svg#icon-key"></use>
            </svg>
            <span>Car rental</span>
        </a>
    </li>

    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/Tours" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="../assets/imgs/sprite.svg#icon-map"></use>
            </svg>
            <span>Tours</span>
        </a>
    </li>

    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
      <a routerLink="/Flights" class="side-nav__link">
          <svg class="side-nav__icon">
              <use xlink:href="../assets/imgs/sprite.svg#icon-aircraft-take-off"></use>
          </svg>
          <span>Flight</span>
      </a>
  </li>
</ul>
<!-- SECOND CHILD OF SIDE NAVBAR  -->
<div class="legal">
    &copy; 2020 built by <a class="mySign" href="https://www.linkedin.com/in/adham-niazy-3a81a7186/">ADHAM NIAZY</a>. All rights reserved
</div>
