.welcome {

  &-container {
    min-height: 80vh;
    background-image: linear-gradient(105deg , rgba(#ff3366,0.9) 0%, rgba(#BA265D,0.9)100%) , url(../../assets/imgs/Hotels/hotel-2.jpg);
    background-size: cover;
    background-position: top;
    background-blend-mode: soft-light;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
      font-size: 3rem;
    }

    &__button {
      padding: 3rem ;
    }

  }

}
